#root, html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#desktopContainer{
  width: 100%;
  height: 92%;
}

#desktop{
  background-image: url("/windows_xp_original-wallpaper-1366x768.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#taskBar{
  background-color: blue;
  width: 100%;
  height: 8%;
  position: bottom;
}
